/* main-layout */

.main-layout {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    gap: 1rem;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1/-1;
}

/* Gallery layout */

.gallery {
    display: none;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
}

/* Editor layout */

.editor {
    gap: 0.5rem;
}

/* Controls layout */

.controls-container {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        " txt txt txt txt txt "
        " add delete switch . . "
        " increase decrease . . . "
        " stroke fill font . . "
        " download share upload  . . "
    ;

    align-items: center;
}

.txt-input {
    grid-area: txt;
}

.add-btn {
    grid-area: add;
}

.switch-btn {
    grid-area: switch;
}

.delete-btn {
    grid-area: delete;
}

.stroke-label {
    grid-area: stroke;
}

.fill-label {
    grid-area: fill;
}

.increase-btn {
    grid-area: increase;
}

.decrease-btn {
    grid-area: decrease;
}

.download {
    grid-area: download;
}

.share {
    grid-area: share;
}

.upload {
    grid-area: upload;
}

.font-family{
    grid-area: font;
}