
.stroke-color,
.fill-color {
    display: none;
}

.controls-container label{
    width: 2rem;
    
    border: none;
    background-color: #eceaea;
    padding: .5rem;

    font-size: 0.8rem;
    font-weight: 600;

    border-radius: 14px;
    cursor: pointer;

    transition: .2s;
}

.file-btn{
    width: auto;

    margin: .2rem;
    padding: .5rem;
    background-color: var(--clrPrimary1);
    
    border: none;
    border-radius: 14px;
    cursor: pointer;
    
    font-size: .9rem;
    font-weight: 600;

    color: white;
    transition: .2s;
}

.controls-container label:hover{
    scale: 1.5;
    background-color: white;
}

.file-btn:hover{
    scale: 1.2;
}

.txt-input{
    padding: 0.8rem;

    border-radius: 1rem;
}

