
.stroke-color,
.fill-color {
    display: none;
}

.controls-container label{
    width: 1rem;

    cursor: pointer;
}

.controls-container a{
    width: auto;

    color: white;
    background-color: var(--clrPrimary1);
}

.txt-input{
    padding: 0.8rem;

    border-radius: 1rem;
}

